#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: /var/lib/elasticsearch
#
# Path to log files:
#
path.logs: /var/log/elasticsearch
#
# ----------------------------------- Memory -----------------------------------
network.host: 0.0.0.0 
http.host: 192.168.1.206 
discovery.seed_hosts: ["192.168.1.206", "[::1]"]
xpack.security.enabled: false